<header>
  <div id='header-all'>
    <div id='login_logo'>Just ToDo App</div>
    <div class='btn_block'>
      <%= button_to 'Sign Up', login_path, form_class: 'btn_header' %>
      <%= button_to 'About', login_path, form_class: 'btn_header' %>
    </div>
  </div>
</header>


<% if flash[:alert] %>
  <div id='flash_alert'>
    <%= flash[:alert] %>
  </div>
<% end %>

<div id='login_form'>
    <h1 id='login_title' >Log In Please</h1>
  <%= form_tag do %>
    <div id='user_name'>
      <%= text_field_tag :name, params[:name], :placeholder => ' Enter your login' %>
    </div>

    <div id='user_pass'>
      <%= password_field_tag :password, params[:name], :placeholder => ' Enter password' %>
    </div>

    <div id='sign_in'>
      <%= submit_tag 'Sign In' %>
    </div>
  <% end %>
  <div id='reg_link'>
    Or, <%= link_to 'Sign Up', registration_path %>
  </div>

</div>
