<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label ' ' %>
    <%= f.text_field :name, :placeholder => ' Login..' %>
  </div>
  <div class="field">
    <%= f.label ' ' %>
    <%= f.text_field :email, :placeholder => ' Email..' %>
  </div>
  <div class="field">
    <%= f.label ' ' %>
    <%= f.password_field :password, :placeholder => ' Password' %>
  </div>
  <div>
    <%= f.label ' ' %>
    <%= f.password_field :password_confirmation, :placeholder => ' Confirm Password' %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign Up' %>
  </div>
<% end %>
