<header>
  <div id='header-all'>
    <div id='login_logo'>Just ToDo App</div>
    <div class='btn_block'>
      <%= button_to 'Sign In', '/login', form_class: 'btn_header' %>
      <%= button_to 'About', login_url, form_class: 'btn_header' %>
    </div>
  </div>
</header>

<div id='reg_block'>
  <h1 id='reg_logo'>Registration</h1>

  <div id='reg_form'>
    <%= render 'form' %>
  </div>
</div>
