/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
	padding-left:235px;
	padding-right:235px;
	border-bottom: 2px solid #27ae60;
	margin-bottom: 30px;
	float:center;
}

body {
	background-color: #1abc9c;
	background-attachment: fixed;
	margin: 0;
  padding: 0;
  min-height: 100%;
	position: relative;
}

.main {
  min-height: 100%;
  height: auto !important;
  height: 100%; /* отрицательный нижний отступ на высоту футера */
  padding: 0;
}

footer {
	background: #2c3e50;
  border-top: 3px solid #16a085;
  height: 100px;
  margin: 0;
  padding: 0;
}

.social_links {
  width:250px;
  margin-right: auto;
  margin-left:auto;
  margin-top:20px;
  margin-bottom:20px;
}

.soc_icon {
  display: inline;
  margin: 6px
}

.soc_icon:focus {
  outline:none;
  opacity: 0.7;
}

.soc_icon:hover {
  opacity: 0.7;
}

.copyright {
  font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	font-size: 14px;
	color: white;
}
