// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
	height:100px;
	background:#2ecc71;

	.btn_block {
		margin-top: 25px;
		float:right;
		form {
			margin-right: 5px;
			margin-left: 5px;
			float: right;
			display:inline;
		}
	}
}

#login_logo {
	margin-top: 30px;
	display: inline;
	font-family: 'Lobster', cursive;
	font-weight: 700;
	line-height: 1.1;
	color: #ffffff;
	text-align: left;
	font-size: 40px;
	font-variant: small-caps;
	width: 300px;
	float: left;
}

.btn_header div input {
	display: inline;
	border: none;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.4;
	border-radius: 4px;
	border: 2px solid #ecf0f1;
	color: #ecf0f1;
	padding: 10px 15px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	background: #2ecc71;
}
.btn_header div input:hover,
.btn_header div input:focus {
	outline: none;
	color: #ffffff;
	background: #27ae60;
}
.btn_header div input:active,
.btn_header div input.active {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #1abc9c;
}

#login_title {
	text-align: center;
	margin-top:10px;
	margin-bottom:10px;
	margin-top: 20px;
	display: inline;
	font-family: 'Lobster', cursive;
	font-weight: 700;
	line-height: 1.1;
	color: #34495e;
	text-align: left;
	font-size: 30px;
	font-variant: small-caps;
	width: 300px;
}

#flash_alert {
	margin: auto;
	width: 500px;
	height: 30px;
	color: #c0392b;
	text-align: center;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-variant: small-caps;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom:10px;
	background-color: #EC7063;
}

#login_form {
	width: 500px;
	margin: auto;
	background-color: #ecf0f1;
	padding: 30px;
	border-radius: 2px;

	#user_name {
		margin-top: 10px;
		margin-bottom: 10px;

		input {
			width: 90%;
			height: 31px;
			border-radius: 4px;
			border:2px solid white;
			background-color: #ffffff;
			font-size: 14px;
			font-family: 'Lato', sans-serif;
			display: inline;
			margin-left: 18px;
			padding-left: 8px;
			-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
			transition: border .25s linear, color .25s linear, background-color .25s linear;
		}
		input:focus {
			border: 2px solid #2ecc71;
			outline: none;
		}
	}

	#user_pass {
		margin-top: 10px;
		margin-bottom: 10px;

		input {
			width: 90%;
			height: 31px;
			border-radius: 4px;
			border:2px solid white;
			background-color: #ffffff;
			font-size: 14px;
			font-family: 'Lato', sans-serif;
			display: inline;
			margin-left: 18px;
			padding-left: 8px;
			-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
			transition: border .25s linear, color .25s linear, background-color .25s linear;
		}
		input:focus {
			border: 2px solid #2ecc71;
			outline: none;
		}
	}

	#sign_in {
		input {
			margin-top: 35px;
			margin-left: 195px;
			margin-right: 195px;
			margin-bottom: 35px;
			height: 35px;
			width: 110px;
			border-radius: 4px;
			border: 2px solid #2ecc71;
			background-color: #ecf0f1;
			font-family: 'Lato', sans-serif;
			-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
			transition: border .25s linear, color .25s linear, background-color .25s linear;
			outline:none;
		}

		input:focus {
			background-color: #2ecc71;
			color: white;
			outline:none;
		}

		input:hover {
			background-color: #2ecc71;
			color: white;
			outline:none;
		}

		input:active {
			background-color: #27ae60;
			border: 2px solid #27ae60;
			color: white;
			outline:none;
		}
	}
}

#reg_link {
	text-align: center;
	color: #34495e;

	a {
		color: #34495e;
	}
}

.main {
	margin: 0 0 -100px 0; /* отрицательный нижний отступ на высоту футера */
}
