// Place all the styles related to the Todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
	padding-top:35px;
	width: auto;
	color: white;
	font-size: 40px;
	font-family: 'Lobster', cursive;
	float:left;
}

.user_info {
	width: 300px;
	float:right;
	color: #ffffff;
	margin-top:23px;

	#welcome {
		float:right;
		margin-top:15px;
		margin-right:10px;
		font-family: 'Lato', sans-serif;
		font-size:17px;
	}

	#logout_button {
		float:right;

		input {
			display: inline;
			border: none;
			font-size: 15px;
			font-weight: normal;
			line-height: 1.4;
			border-radius: 4px;
			border: 2px solid #ecf0f1;
			color: #ecf0f1;
			padding: 10px 15px;
			-webkit-font-smoothing: subpixel-antialiased;
			-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
			transition: border .25s linear, color .25s linear, background-color .25s linear;
			background: #2ecc71;
		}

		input:hover,
		input:focus {
			outline: none;
			color: #ffffff;
			background: #27ae60;
		}
		input:active,
		input.active {
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			background: #1abc9c;
		}

	}
}

.project {
	margin: auto;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: #95a5a6;
	border:2px solid #7f8c8d;
	border-radius: 2px;
	width: 800px;

	.project_title {
		color: #ecf0f1;
		width: 800px;
		padding-top: 9px;

		.project_name {
			text-align: center;
			display: inline;
			font-family: 'Bitter', serif;
			font-size: 20px;
		}

		img {
			opacity: 0.5;
		}

		img:hover {
			opacity: 1;
		}
	}

	.task_list {

		.task {
			margin: auto;
			padding-top: 5px;
			height: 46px;
			border-top:1px solid #778485;
			-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
			transition: border .25s linear, color .25s linear, background-color .25s linear;

			.task_status {
				width: 25px;
				padding-left: 8px;
				padding-right: 8px;
				display: inline;
				position: relative;
			}

			.task_status label {
				cursor: pointer;
				position: absolute;
				margin-left: 8px;
				width: 25px;
				height: 25px;
				top: 0;
			 	left: 0;
				background: #eee;
				border:1px solid #ddd;
			}

			.task_status label:after {
				opacity: 0.2;
				content: '';
				position: absolute;
				width: 9px;
				height: 5px;
				background: transparent;
				top: 6px;
				left: 7px;
				border: 3px solid #2ecc71;
				border-top: none;
				border-right: none;

				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			.task_status label:hover::after {
				opacity: 0.5;
			}

			.task_status input[type=checkbox]:checked + label:after {
				opacity: 1;
			}

			.task_status input[type=checkbox]:checked + .task_name:after {
				text-decoration: line-through;
			}

			.task_name {
				padding-left: 15px;
				color: #ecf0f1;
				display: inline;
				font-size: 17px;
				font-family: 'Lato', sans-serif;
			}

			.delete_task_button {
   				opacity: 0.4;

   				a {
   					text-decoration: none;
   				}
			}

			.delete_task_button:hover {
				opacity: 1;

				a {
   					text-decoration: none;
   				}
			}
		}
		.task:hover .delete_task_button {
			opacity: 1;

		}
		.task:hover {
			background-color: #778485;
		}

	}

	.task_form {
		width: 780px;
		height: 30px;
		padding-top: 7px;
		padding-bottom: 8px;
		padding-left:10px;
		padding-right:10px;
		border-top:1px solid #778485;

		.textfield {
			margin-left: 4px;
			float:left;
			margin-bottom: 10px;

			#name {
				width: 650px;
				height: 30px;
				border:0;
				border-radius: 4px;
				color: #687374;
				background-color: #95a5a6;
				font-size:20px;
				font-family: 'Lato', sans-serif;
			}
			#name::-webkit-input-placeholder {
				color: #ecf0f1;
			}
			#name:focus {
				outline:none;
			}
		}

		.task_add_btn {
			float:right;

			input {
				height:33px;
				width:81px;
				display: inline;
				border: none;
				font-size: 15px;
				font-weight: normal;
				font-family: 'Lato', sans-serif;
				line-height: 1.4;
				border-radius: 4px;
				border: 2px solid #ecf0f1;
				color: #ecf0f1;
				-webkit-font-smoothing: subpixel-antialiased;
				-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
				transition: border .25s linear, color .25s linear, background-color .25s linear;
				background: #95a5a6;
			}

			input:hover {
				background-color: #71717A;
				border: 2px solid #E2E2F4;
				color: white;
			}

			input:active {
				background-color: #71717A;
				border: 2px inset #E2E2F4;
				color: white;
			}
		}
	}
}




/* ДОбавление нового project (ОСТОРОЖНО! Дублирование кода!) */




.current_project {
	margin: auto;
	margin-bottom: 15px;
	margin-top: 15px;
	background-color: #95a5a6;
	border:2px solid #7f8c8d;
	border-radius: 2px;
	width: 800px;

	.project_title {
		color: #ecf0f1;
		width: 800px;
		padding-top: 9px;

		.project_name {
			text-align: center;
			display: inline;
			font-family: 'Bitter', serif;
			font-size: 20px;
					}

		img {
			opacity: 0.5;
		}

		img:hover {
			opacity: 1;
		}
	}

	.task_list {

		.task {
			margin: auto;
			margin-bottom: 2px;
			margin-top: 2px;
			padding-top: 4px;
			border-bottom: 2px dotted #898994;

			.task_status {
				padding-left: 8px;
				padding-right: 8px;
				display: inline;

				input {
					color: #bdc3c7;
					display: block;
					height: 20px;
					left: 0;
					position: absolute;
					top: 0;
					width: 20px;
					text-align: center;
					line-height: 21px;
					font-size: 20px;
					cursor: pointer;
					-webkit-transition: color 0.25s linear;
					transition: color 0.25s linear;
				}
			}

			.task_name {
				padding-left: 15px;
				color: #ecf0f1;
				display: inline;
				font-size: 15px;
				font-family: 'Lato', sans-serif;
			}

			.delete_task_button {
   				opacity: 0.1;

   				a {
   					text-decoration: none;
   				}
			}

			.delete_task_button:hover {
				opacity: 1;

				a {
   					text-decoration: none;
   				}
			}
		}
		.task:hover .delete_task_button {
			opacity: 1;

		}

	}

.task_form {
					width: 780px;
					height: 30px;
					padding-top: 7px;
					padding-bottom: 8px;
					padding-left:10px;
					padding-right:10px;
					border-top:1px solid #778485;

					.textfield {
						margin-left: 4px;
						float:left;
						margin-bottom: 10px;

						#name {
							width: 650px;
							height: 30px;
							border:0;
							border-radius: 4px;
							color: #687374;
							background-color: #95a5a6;
							font-size:20px;
							font-family: 'Lato', sans-serif;
						}

						#name::-webkit-input-placeholder {
							color: #ecf0f1;
						}
						#name:focus {
							outline:none;
						}
					}

					.task_add_btn {
						float:right;

						input {
							height:33px;
							width:81px;
							display: inline;
							border: none;
							font-size: 15px;
							font-weight: normal;
							font-family: 'Lato', sans-serif;
							line-height: 1.4;
							border-radius: 4px;
							border: 2px solid #ecf0f1;
							color: #ecf0f1;
							-webkit-font-smoothing: subpixel-antialiased;
							-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
							transition: border .25s linear, color .25s linear, background-color .25s linear;
							background: #95a5a6;
						}

						input:hover {
							background-color: #71717A;
							border: 2px solid #E2E2F4;
							color: white;
						}

						input:active {
							background-color: #71717A;
							border: 2px inset #E2E2F4;
							color: white;
			}
		}
	}
}




/* Сохраняйте спокойствие, дублирование завершено =) */




.project_add {
	width: 800px;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 35px;

	#field {
		width: 650px;
	}

	#project_name {
		width: 80%;
		height: 31px;
		border-radius: 4px;
		border: 2px solid #ecf0f1;
		background-color: #1abc9c;
		font-size: 14px;
		font-family: 'Lato', sans-serif;
		display: inline;
		margin-left: 18px;
		padding-left: 8px;
		color:#ecf0f1;
		-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
		transition: border .25s linear, color .25s linear, background-color .25s linear;
	}
	#project_name::-webkit-input-placeholder {
		color:#ecf0f1;
	}
	#project_name:focus {
		outline:none;
		border-color: #34495e;
		background-color: #16a085;
	}

	but input {
		height: 35px;
		width: 110px;
		border: 2px solid #ecf0f1;
		background-color: #1abc9c;
		border-radius: 4px;
		display: inline;
		padding-top: 2px;
		padding-bottom: 0px;
		height: 37px;
		margin-bottom: 2px;
		font-family: 'Lato', sans-serif;
		-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
		transition: border .25s linear, color .25s linear, background-color .25s linear;
	}
	but input:focus {
		outline:none;
	}

	but input:hover {
		border-color: #34495e;
		background-color: #16a085;
		color: white;
	}

	but input:active {
		background-color: #71717A;
		border: 2px inset #E2E2F4;
		color: white;
	}

	img {
		margin-left: 48%;
		margin-right: 52%;
		opacity: 0.2;
	}

	img:hover {
		opacity: 1;
	}

	img:active {
		opacity: 0.7;
	}
}

.add_prjct_img {
	margin-bottom: 100px;
}

.main {
	margin:0 0 -100 0;
}
