// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#reg_logo {
	margin-top: 30px;
	display: inline;
	font-family: inherit;
	font-weight: 700;
	line-height: 1.1;
	color: #34495e;
	text-align: left;
	font-size: 30px;
	font-variant: small-caps;
	width: 300px;
	float: left;
}

#reg_block {
	width: 500px;
	margin: auto;
	background-color: #ecf0f1;
	padding: 30px;
	padding-bottom: 5px;
	margin-bottom:12px;
	border-radius: 2px;

	#reg_form {
		width: 500px;
		margin: auto;

		.field {
			margin-top: 10px;
			margin-bottom: 10px;

			input {
				width: 90%;
				height: 31px;
				border-radius: 4px;
				border:2px solid white;
				background-color: #ffffff;
				font-size: 14px;
				font-family: "Lato", Helvetica, Arial, sans-serif;
				display: inline;
				margin-left: 18px;
				padding-left: 8px;
				-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
				transition: border .25s linear, color .25s linear, background-color .25s linear;
			}
			input:focus {
				outline:none;
				border:2px solid #2ecc71;
			}
		}

		#user_password_confirmation {
			width: 90%;
			height: 31px;
			border-radius: 4px;
			border:2px solid white;
			background-color: #ffffff;
			font-size: 14px;
			font-family: "Lato", Helvetica, Arial, sans-serif;
			display: inline;
			margin-left: 18px;
			padding-left: 8px;
			-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
			transition: border .25s linear, color .25s linear, background-color .25s linear;
		}
		#user_password_confirmation:focus {
			outline:none;
			border: 2px solid #2ecc71;
		}

		.actions input {
			margin-top: 35px;
			margin-left: 195px;
			margin-right: 195px;
			margin-bottom: 35px;
			height: 35px;
			width: 110px;
			border-radius: 4px;
			border: 2px solid #2ecc71;
			background-color: #ecf0f1;
			-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
			transition: border .25s linear, color .25s linear, background-color .25s linear;
		}

		.actions input:focus {
			outline:none;
			background-color:#2ecc71;
			color:white;
		}

		.actions input:hover {
			background-color: #2ecc71;
			color: white;
			outline:none;
		}

		.actions input:active {
			background-color: #27ae60;
			border: 2px solid #27ae60;
			color: white;
			outline:none;
		}
	}
}
