<% @user = User.find_by(id: session[:user_id]) %>
<% @projects = @user.projects.order(:id) %>

<% prjct = 0 %>
<% @projects.each do |project| %>

<% prjct = prjct + 1 %>

<% if project == @current_project %>
  <div class='current_project'>
<% else %>
  <div class='project'>
<% end %>

    <table class='project_title'>
      <tr>
        <th width="5%"><%= image_tag('SVG/calendar.svg') %></th>
        <th class="project_name", width="95%" style="padding-left: 18px;"><%= project.name %></th>
        <th width="5%"><%= link_to image_tag("SVG/trash.svg"), destroy_project_path(project_id: project.id), method: :delete, remote: true %>
    </table>
    <div class='task_list'>

      <% tsk = 0 %>
      <% project.tasks.each do |task| %>
        <table class='task' width="800px">
          <tr>
          <th class="task_status", width="5%">
              <% tsk = tsk + 1 %>
              <%= check_box_tag prjct.to_s+tsk.to_s, 'complete', task.status, class: 'status', data: { id: task.id } %>
            <label for=<%= prjct.to_s+tsk.to_s %>></label>
          </th>
          <th class="task_name", width="90%">
          	<%= task.name %>
          </th>
          <th class="delete_task_button"width="5%">
            <%= link_to image_tag('SVG/diff-removed.svg'), destroy_task_path(task_id: task.id), method: :delete, remote: true %>
          </th>
          </tr>
        </table>
      <% end %>
    </div>
    <div class='task_form'>
  	  <%= form_tag url_for(controller: 'todo', action: :task_create, project_id: project.id), remote: true do%>
   	    <div class='textfield'>
      	  <%= label_tag '' %>
      	  <%= text_field_tag :name, params[:name], :placeholder => ' Enter new task here..' %>
      	</div>
      	<div class='task_add_btn'>
      	  <%= submit_tag 'Add' %>
      	</div>
      <% end %>
    </div>
  </div>
<% end %>

<!-- Here is JavaScript -->

<script>
  $('.status').change(function() {
    $.get('/task/' + $(this).data('id') + '/task_status' );
  });
</script>
