<header>
  <div id='header-all'>
    <div class='logo'>
      Your ToDo list
    </div>
    <div class='user_info'>
    <% if session[:user_id] %>
      <div id='logout_button'>
        <%= button_to 'Logout', logout_path, method: :delete %>
      </div>
    	<div id='welcome'>Hi, <%= @user.name %></div>
    <% end %>
    </div>
  </div>
</header>

<div id='projects'>
  <%= render("projects") %>
</div>
<div class='project_add'>
  <%= form_for(@project, remote: true) do |f| %>
    <%= f.text_field :name, :placeholder => ' Enter new project here..' %>
    <but><%= f.submit 'Add Project' %></but>
  <% end %>
  <%= image_tag('SVG/chevron-up.svg', :class => 'add_prjct_img') %>
</div>
<script>
  $('.project_add img').click(function() {
    $('.project_add form').toggle("blind");
  });
</script>
