<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</head>
<body>
  <section class="main">
	<%= yield %>
  </section>
  <footer>
    <div class=social_links>
      <div class=soc_icon><%= link_to image_tag('SVG/github.svg'), 'https://github.com/xo8bit/todo' %></div>
      <div class=soc_icon><%= link_to image_tag('SVG/facebook.svg'), 'http://facebook.com/jeveling' %></div>
      <div class=soc_icon><%= link_to image_tag('SVG/googleplus.svg'), 'https://plus.google.com/u/0/+NazarJeveling' %></div>
      <div class=soc_icon><%= link_to image_tag('SVG/instagram.svg'), 'http://instagram.com/jeveling' %></div>
      <div class=soc_icon><%= link_to image_tag('SVG/twitter.svg'), 'http://twitter.com/jeveling' %></div>
      <div class=soc_icon><%= link_to image_tag('SVG/mail.svg'), 'http://vk.com/jeveling' %></div>
    </div>
    <div class='copyright'>© 2014 Jeveling LLC</div>
  </footer>
</body>
</html>
